@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main {
  height: 2000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pages {
  width: 100%;
  height: 2600px;
  display: flex;
  justify-content: center;
}

.pages :is(.login_wrapper, .register_wrapper) {
  margin: auto;
  border: 0.5px solid rgb(77, 77, 77);
  padding: 2rem;
}
.pages :is(.login_wrapper, .register_wrapper) h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
}
.pages :is(.login_wrapper, .register_wrapper) > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pages :is(.login_wrapper, .register_wrapper) > div + div {
  margin-top: 1rem;
}
.pages :is(.login_wrapper, .register_wrapper) > div > label {
  width: 30%;
  text-align: center;
}
.pages :is(.login_wrapper, .register_wrapper) > div > input {
  width: 60%;
  height: 1.5rem;
}
.pages :is(.login_wrapper, .register_wrapper) > .actionBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pages :is(.login_wrapper, .register_wrapper) > .actionBtn button {
  margin-top: 1.5rem;
  text-align: center;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}
/* home page*/
.cardsWrapper {
  display: flex;
  padding: 2rem;
}
.cardsWrapper .card {
  display: flex;
}
/*  Card Components   */
.card.wrapper {
  width: 30%;
  min-width: 150px;
  border: 0.5px solid grey;
  height: 250px;
}
.pageWrapper {
  width: 100%;
  max-height: 1200px;
  height: 100%;
  max-width: 1240px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

/* Header */

nav {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h2 {
  display: flex;
  color: wheat;
  margin-left: 10rem;
  text-transform: capitalize;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0 6.25rem;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  font-weight: bold;
  padding: 0 1.25rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 3.125rem;
  transition: 300ms;
}
nav ul li a:hover {
  color: #c19d9d;
}
/* Header end */

/* Create Page */
.create .panel_wrapper {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  border: 0.5px solid grey;
  padding: 1rem;
}

.create .panel_wrapper .input_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.create .panel_wrapper .input_wrapper ~ .input_wrapper {
  margin-top: 1.25rem;
}
